@import "tailwindcss";

@utility container{
  margin: auto;
  inline-padding: 2rem;
}

@theme{
  --font-inter: "Inter", sans-serif;
  --color-gray: #909090;
  
}

html{
  scroll-behavior: smooth;
}

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
  transition-duration: 4000ms;
}

body[data-aos-duration='5000'] [data-aos],
[data-aos][data-aos][data-aos-duration='5000'] {
  transition-duration: 5000ms;
}